@import '../../styles/variables.scss';

.jumbo-component {
  height: 70vh;
  width: 100%;
  .intro-container {
    text-align: center;
    box-shadow: 0px 0px 0px 20px $gold-color;
    display: block;
    padding: 10vh 20px;
    margin: 15vh 100px 0px;
    .big-title {
      font-size: 5rem;
      font-weight: 900;
      margin-bottom: -10px;
    }
    .sub-title {
      font-size: 1.8rem;
      font-weight: 700;
    }
    .sub-sub-title {
      padding-top: 20px;
      font-size: 1.4rem;
      opacity: 0.5;
      display: inline-block;
      max-width: 500px;
    }
    @media (max-width: 760px) {
      padding: 100px 50px;
      margin: 150px 20px;
      .big-title {
        font-size: 4rem;
      }
      .sub-title {
        font-size: 1.3rem;
      }
    }
  }
}
