@import '../../styles/variables.scss';

.jumbo-component {
  width: 100%;
  height: 100vh;
  width: 100vw;
  background-color: #ffffff;
  background-image: url("https://www.transparenttextures.com/patterns/inspiration-geometry.png");

  .intro-container {
    text-align: center;
    display: block;
    padding: 30vh 20px;
    .big-title {
      color: $black-color;
      font-size: 6rem;
      text-transform: uppercase;
      font-weight: 900;
      margin-bottom: -10px;
    }
    .sub-title {
      color: $silver-color;
      text-transform: capitalize;
      font-size: 1.8rem;
      font-weight: 700;
    }
    .sub-sub-title {
      padding-top: 20px;
      font-size: 1.4rem;
      opacity: 0.5;
      display: inline-block;
      max-width: 600px;
    }
    @media (max-width: 760px) {
      .big-title {
        font-size: 4rem;
      }
      .sub-title {
        font-size: 1.3rem;
      }
    }
  }
}
