@import "../../styles/variables.scss";

.bottom-component {
  padding: 30px;
  background: $gold-color;
  text-align: center;
  color: white;
  .item-component {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    div {
      opacity: 0.8;
      padding: 0px 20px;
      &:hover{
        opacity: 1;
      }
    }
    .logo {
      font-weight: 900;
    }
    .link {
      font-size: 1.7rem;
    }
    .link, .email {
      cursor: pointer;
      a {
        color: white;
      }
    }
  }
}
